<section>
  <h1>Chat Rooms</h1>
  <div>
    <table>
      <tr ng-repeat="room in MainModal.rooms">
        <td ng-click="MainModal.setRoom(room)"> {{room.name}} </td>
        <td>
          <span ng-click="MainModal.deleteRoom(room)" type="button"></span>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <button type="button" ng-click="MainModal.open()">Create New Room</button>
  </div>
  <div ng-repeat="room in ome.rooms">
  <div>{{ room.name }}</div>
  </div>
</section>

<section>
    <h2> Messages </h2>
    <p> {{ MainModal.currentRoom.name}} </p>
    <div>
      <div>
        <p ng-repeat="message in messages"> <strong><u> {{message.username}} </u></strong><br> {{message.content}} </p>
      </div>
  </div>
</section>
